body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#loginForm {
  text-align: center;
}

#loginForm input {
  width: 30%;
  margin: 0 auto;
}

button {
  margin: 0 2px;
}

td {
  vertical-align: middle;
}

tr :nth-child(3n) {
  text-align: center;
  width: 110px;
}

form,
h1 {
  margin: 50px;
}
